.center
 .pre-game-lobby
     table(id='player-list' class='game-list' hx-swap='outerHTML' hx-trigger='every 0.1s' hx-get=`/games/${gameId}/playerlist`)
     tr(class='player-columns')

     button(id='ready-btn' class='menu-btn' hx-swap='outerHTML' hx-get=`/players/${playerId}/update` hx-vals='{"readyStatus": true}') Ready  
     button(id='leave-btn' class='menu-btn' hx-get=`/games/${gameId}/leave` hx-target='.content' hx-include="[name='gameId'],[name='playerId']") Leave
 
     if isHost   
       div(class='ready-check' hx-target='.ready-check' hx-swap='innerHTML' hx-trigger='every 5s' hx-get=`/games/${gameId}/readycheck` hx-include="[name='gameId'],[name='playerId']")
        include start-btn.pug
       form(id='form' hx-encoding='multipart/form-data' hx-post=`/games/${gameId}/loadquestions`)
        label(class="button" for="upload") Upload File
        input(type='file' id='upload' name='file' accept='.csv' onchange="document.getElementById('form').requestSubmit();")   
     else
       div(class='ready-check' hx-target='.ready-check' hx-swap='innerHTML' hx-trigger='every 5s' hx-get=`/games/${gameId}/readycheck` hx-include="[name='gameId'],[name='playerId']") 
include ids.pug