.pre-game-lobby
    .spacer
    ul(id='player-list' class='game-list' hx-trigger='every 2s' hx-swap='outerHTML' hx-get=`/games/${gameId}/playerlist`)
     li(class='game-list-item') #{playerName}
    button(id='ready-btn' class='menu-btn') Ready
    input(class='player-id' name='playerId' value=`${playerId}` readonly)
    button(id='leave-btn' class='menu-btn' hx-get=`/games/${gameId}/leave` hx-target='.center' hx-include="[name='gameId'],[name='playerId']") Leave
    .spacer
    a(class='input-desc') Game ID:
    input(class='game-id' name='gameId' value=`${gameId}` readonly)