.center
  div(class='page pre-game-lobby' id='pre-game-lobby' hx-target='.content' hx-trigger='load, every 1s' hx-vals=`{"playerId": "${player.playerId}"}` hx-put=`/games/${game.gameId}/updatelobby`)
    include player-list.pug
    button(id='ready-btn' class='menu-btn' hx-put=`/players/${player.playerId}/readystatus`) #{player.readyStatus ? 'Unready' : 'Ready'}
    button(id='leave-btn' class='menu-btn' hx-put=`/games/${game.gameId}/leave`) Leave
    if player.isHostOfGame()
      button(id='start-btn' class='menu-btn' hx-put=`/games/${game.gameId}/start` hx-vals=`{"playerId": "${player.playerId}"}` disabled=!game.playersReady ) Start
      form(id='form' hx-encoding='multipart/form-data' hx-target='#form' hx-post=`/games/${game.gameId}/loadquestions`)
        label(class="button" for="upload") Upload File
        input(type='file' id='upload' name='file' accept='.csv' onchange="document.getElementById('form').requestSubmit();")   
    else
    a(class='label' id='game-id-label' onclick=`copyText(this)`) Game ID: #{game.gameId}