div(class='uistate' hx-target='.content' hx-trigger='every 0.5s throttle:0.5s' hx-vals=`{"playerId": "${player.playerId}"}` hx-put=`/games/${game.gameId}/uistate`)
include scores.pug
.center
    div(class='page question' id='question' hx-target='.content')
        img(class='question-img' id='question-img' src=`${questions[game.questionIndex].imageURL}`)
        h2(class='big-text' id='question-text') #{questions[game.questionIndex].question}
        if questions[game.questionIndex].answerType == 'date'
            include date-picker.pug
        else
            input(class='menu-input' id='answer-input' name='answer')
        button(id='submit-btn' class='menu-button' hx-put=`/players/${player.playerId}` hx-include='[name="answer"]' hx-vals=`{"answeredStatus": ${!player.answeredStatus}}` disabled=player.answeredStatus) Submit