include scores.pug
div(class='scoreboard-shown' hx-target='.content' hx-trigger='every 10s' hx-get=`/games/${game.gameId}/showquestion` hx-vals=`{"gameId": "${game.gameId}","playerId": "${player.playerId}"}`)
.center 
    div(class='page score-board' hx-target='.content' hx-vals=`{"gameId": "${game.gameId}","playerId": "${player.playerId}"}`)
        each player in players
            h2(class='score-text' id='score-text') #{player.playerName} &nbsp; #{(player.pointsEarnedRound > -1) ? '+' : '' } #{player.pointsEarnedRound}
a(class='counter-text' id='counter')