div(class='uistate' hx-target='.content' hx-trigger='every 0.5s throttle:0.5s' hx-vals=`{"playerId": "${player.playerId}"}` hx-put=`/games/${game.gameId}/uistate`)
include scores.pug
div(class="page wager-board" hx-target='.content' hx-trigger='every 10s' hx-put=`/games/${game.gameId}` hx-vals=`{"gameId": "${game.gameId}","playerId": "${player.playerId}","revealedAnswer": "true"}`)
    div(class=smallerCorrect ? 'board-segment answer' : 'board-segment')
        a(class='odds-text') #{game.highestOdds}/1
        a(class='answer-text' name='answer-0' value='SMALLER') SMALLER
    each answerObj, index in answers
        div(class=answerObj.correctAnswer ? 'board-segment answer' : 'board-segment')
            a(class='odds-text') #{answerObj.odds}/1
            a(class='answer-text' name=`answer-${index+1}`) #{answerObj.displayedAnswer}
a(class='counter-text' id='counter')