include scores.pug
div(class='revealed-status' hx-target='.content' hx-trigger='every 10s' hx-get=`/games/${game.gameId}/scores` hx-vals=`{"gameId": "${game.gameId}","playerId": "${player.playerId}"}`)
div(class="page wager-board" hx-target='.content' hx-vals=`{"gameId": "${game.gameId}","playerId": "${player.playerId}"}`)
    div(class=smallerCorrect ? 'board-segment answer' : 'board-segment')
        a(class='odds-text') #{game.highestOdds}/1
        a(class='answer-text' name='answer-0' value='SMALLER') SMALLER
    each answerObj, index in answers
        div(class=answerObj.correctAnswer ? 'board-segment answer' : 'board-segment')
            a(class='odds-text') #{answerObj.odds}/1
            a(class='answer-text' name=`answer-${index+1}`) #{answerObj.answer}
a(class='counter-text' id='counter')